*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
.artifacts/
.kotlin/
gradle/caches/
gradle/daemon/
gradle/native/
gradle/workers/
gradle/jdks/
gradle/.tmp/
gradle/kotlin-profile/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!gradle/libs.versions.toml
